@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #f6f9fc, #d6e4f0);
  color: #333;
  line-height: 1.6;
}

.rating-color {
  color: #fbc634 !important;
}

.small-ratings i {
  color: #cecece;
}

.review-stat {
  font-size: 18px;
}

.subtotal {
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.product-img {
  padding: 3%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header,
nav,
footer {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header .row {
  padding: 5px 15%;
}

.cardcss {
  margin-top: 10%;
  margin-bottom: 2%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .cardcss {
    margin-top: 15%;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  header .row {
    padding: 5px 10%;
  }

  .cardcss {
    margin-top: 20%;
    padding: 10px;
  }
}
