/* App.css */
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list-group {
  margin-bottom: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.cart {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}
