.col-md-4 {
  position: relative;
  text-align: center;
}

.image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

#dogImage {
  max-width: 100%;
  height: auto;
}
