.custom-navbar {
    background-color: #4a90e2; /* Dark blue background color */
  }
  
  .custom-navbar .navbar-brand {
    color: #fff; /* White text color for brand */
  }
  
  .custom-navbar .nav-link {
    color: #fff !important; /* White text color for links */
  }
  
  .custom-navbar .nav-link.active {
    font-weight: bold; /* Bold font weight for active link */
  }
  